body
{
    background-color: azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size:x-large;
}

h1
{
  text-align: center;
  color: #1c5878;
  font-size: 5vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:0%;
  }
  .p_content ul ::marker
  {
    content: '~';
  }

  p{
    padding: 5%
  }

 