body {
  font-size: xx-large;
}
h1 {
  text-align: center;
  font-style: oblique;
  color: #335369;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.footer {
  border-top: solid;
  border-color: #253d4d;
}

.footer a {
  float: left;
  display: block;
  margin-top: 1%;
  margin-right: 2%;
}
.footer p {
  font-size: 2vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  height: 40vw;
}

.icon img {
  height: 5vw;
  width: 5vw;
}
