body{
    font-size: 2vw;
    background-image: url('dog_background_4.jpg');
}
h1,h2{
    color: rgb(65, 97, 167);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button
{
    font-size: 2vw;
    color: #735235;
    display: block;
    background-color: #CABA9C;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
}

button:hover
{
    color:white;
    color: #432715;
    
}

button, button:hover{
    border-style: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-top: none;
    border-left:none;
    border-color:  #8A6240;
    float: left;;
}

canvas
{
    
    display: block;
    height: 50%;
    width: 50%;

    
}

    .center {
        margin: auto;
        border-radius: 10%;
      }

.sect_left
{
    display: block;
    background-color: #4C6444;
    float: left;
    border-style: none;
    
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style:dotted;
    border-width: 4px;
    border-color: #102820;
    padding: 5%;
    margin:5%;
    
}
.sect_right
{
    display: block;
    background-color:#102820;
    float: right;
    padding: 5%; 
    margin:5%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style:dotted;
    border-width: 4px;
    border-color: #4C6444;
}

.btn_menu{
    padding:0.5%;
        border-style: solid;
        border-width: 5px;
        border-radius: 10px;
        border-color:#735235;
    float:right;
    width: 98%;
}
.btn_menu ul
{
    margin: auto;
    list-style-type: none;
    
    
}
.btn_menu li
{
    float:left
}



